
body{background-image: url(/static/my_bloody_shop.jpeg);
    background-repeat:no-repeat;
    background-size : 100%;}

h1,h2,h3 {color: blueviolet;}

.in-stock > p {
    color:white;
}
.not-in-stock > p {
    color:red;
}
