{% extends "base.html" %}
{% block home %}
<section id="home-image">
<h1>WELCOME to Blood Of Thy Enemies/Blood Of My Blood</h1>

<h3>Half the shop weapons and instruments of death run by an tiny, aggressive women.
     The other half a healing shop run by a large barbarin type man who's very gentle.
    they are a couple...opposites attract?</h3>
</section>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <title>CSS</title>
</head>

<body>
    <header>
        <h1 id="logo">CSS</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/">stock</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <article>
            <header>
                <h1>Introduction to CSS</h1>
            </header>
            <main>
                <p>Learning objectives:</p>
                <ul>
                    <li>Understand basic CSS selectors and know how to use them.</li>
                    <li>Know some commonly used cosmetic CSS properties.</li>
                    <li>Know how to navigate the MDN CSS docs.</li>
                </ul>
                    
            </main>
            <footer>
                <button class="SOLD-button">Like</button>
            </footer>
        </article>
    </main>
    <footer>
        <p>&copy; CodeClan 2020</p>
    </footer>
</body>

</html>
{% endblock %}